Django==5.0.6
django-cors-headers==4.6.0
django-simpleui==2024.8.28
djangorestframework==3.15.2
djangorestframework_simplejwt==5.5.0
PyMySQL==1.1.1
requests==2.32.3
httpx==0.28.1
urllib3==2.2.2
openai==1.58.1
