absl-py==2.1.0
annotated-types==0.7.0
anyio==4.7.0
asgiref==3.8.1
astunparse==1.6.3
binho-host-adapter==0.1.6
blinker==1.8.2
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
contourpy==1.2.1
cycler==0.12.1
distro==1.9.0
Django==5.0.6
django-cors-headers==4.6.0
django-simpleui==2024.8.28
djangorestframework==3.15.2
djangorestframework_simplejwt==5.5.0
et_xmlfile==2.0.0
filelock==3.16.1
Flask==3.0.3
flatbuffers==24.3.25
fonttools==4.53.1
fsspec==2024.10.0
gast==0.6.0
gitdb==4.0.12
GitPython==3.1.44
google-pasta==0.2.0
grpcio==1.68.0
gunicorn==23.0.0
h11==0.14.0
h5py==3.12.1
httpcore==1.0.7
httpx==0.28.1
idna==3.8
itsdangerous==2.2.0
Jinja2==3.1.4
jiter==0.8.2
joblib==1.4.2
keras==3.6.0
kiwisolver==1.4.5
libclang==18.1.1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
ml-dtypes==0.4.1
mpmath==1.3.0
namex==0.0.8
networkx==3.4.2
numpy==2.0.1
openai==1.58.1
opencv-python==4.10.0.84
openpyxl==3.1.5
opt_einsum==3.4.0
optree==0.13.1
packaging==24.1
pandas==2.2.2
pillow==10.4.0
protobuf==5.28.3
psutil==6.1.1
py-cpuinfo==9.0.0
pydantic==2.10.3
pydantic_core==2.27.1
pyftdi==0.55.4
Pygments==2.18.0
PyJWT==2.9.0
PyMySQL==1.1.1
pyparsing==3.1.2
pyserial==3.5
python-dateutil==2.9.0.post0
pytz==2024.1
pyusb==1.2.1
PyYAML==6.0.2
requests==2.32.3
rich==13.9.4
scikit-learn==1.5.2
scipy==1.14.1
seaborn==0.13.2
smmap==5.0.2
sniffio==1.3.1
sqlparse==0.5.0
sympy==1.13.1
thop==0.1.1.post2209072238
threadpoolctl==3.5.0
tqdm==4.67.1
typing_extensions==4.12.2
tzdata==2024.1
ultralytics==8.3.70
ultralytics-thop==2.0.14
urllib3==2.2.2
Werkzeug==3.0.4
wrapt==1.16.0
